<div class="cart-container">
    <h2>🧸 Moja korpa</h2>

    <table class="cart-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Naziv igracke</th>
                <th>Kolicina</th>
                <th>Status</th>
                <th>Cena</th>
                <th>Datum dodavanja</th>
                <th>Akcije</th>
                <th>Ocena</th>
            </tr>
        </thead>
        <tbody>
            @for (item of cartItems(); track i; let i = $index) {
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ item.toyName }}</td>
                <td>{{ item.amount }}</td>
                <td [ngClass]="getStatusClass(item.status)">{{ item.status }}</td>
                <td>{{ getItemPrice(item) | number:'1.2-2' }} RSD</td>
                <td>{{ item.createdAt | date:'dd.MM.yyyy. HH:mm' }}</td>
                <td>
                    <button class="btn-pay" (click)="payItem(i)"
                        [disabled]="item.status === 'paid' || item.status === 'cancelled'">💳 Plati</button>
                    <button class="btn-remove" (click)="removeItem(i)"
                        [disabled]="item.status === 'paid' || item.status === 'cancelled'">🗑️ Obriši</button>


                </td>
                <td>
                    @if (item.status === 'paid') {
                    @for (star of [1,2,3,4,5]; track star) {
                    <span (click)="rateItem(i, star)"
                        [ngStyle]="{'color': (item.ratingValue && star <= item.ratingValue) ? 'gold' : 'gray', 'cursor': 'pointer'}">
                        ★
                    </span>
                    }
                    } @else {
                    -
                    }
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Ukupno:</td>
                <td>{{ getTotalPrice() | number:'1.2-2' }} RSD</td>
                <td colspan="3">
                    <button (click)="clearCart()" class="btn-remove-all" [disabled]="isAllPaid()">🗑️ Ukloni
                        sve</button>
                    <button (click)="payAll()" class="btn-pay-all" [disabled]="isAllPaid()">💳 Plati sve</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>