
/* Header */
header {
    background-color: #85c7de;
    padding: 25px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

h1{
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    background-color: #569dc3;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 6px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    background-color: #569dc3;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}